{% extends "user_subscription/base.html" %}

{% block paymenthead %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Django + Stripe Checkout</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock paymenthead %}

{% block content %}
    <h3 style="color:purple;">Subscription cancelled</h3>
	<h4 style="color:purple;">click to <a href="{% url 'profile' %}">Subscribe again</a></h4>
    
{% endblock %}