{% extends "user_subscription/base.html" %}

{% block paymenthead %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Django + Stripe Checkout</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock paymenthead %}

{% block content %}
	<section class="section">
	<div class="container">
		
	{% if user.customer %}
		<br>
		{% if user.active_subscription %}
			<p style="color:purple;">Your payment succeded.</p>
			<p style="color:purple;"> Your trial period will end on {{user.subscription.current_period_end}}</p><br>
			<h3 style="color:purple";>Currently you have "{{user.subscription.plan.product}}"</h3>
			<p style="font-weight: bold;">You can cancel your current {{user.subscription.plan.product}} plan by clicking <a class="btn btn-danger text-light btn-sm" href="/cancel">Cancel Subscription</a></p>
		{% else %}
		<h3 style="color:purple";>Currently you don't have any plans</h3>
		<h4>To get plan click<a href="{% url 'profile' %}">here</a></h4>
		{% endif %}
	
	{% endif %}		
	</div>
	</section>
{% endblock %}